{% load i18n %}
{% load static %}
<!DOCTYPE html>
<html 
    {% get_current_language as LANGUAGE_CODE %}
    {% if LANGUAGE_CODE == 'fa' %}
        dir="rtl" lang="fa"
    {% else %}
        dir="ltr" lang="{{ LANGUAGE_CODE }}""
    {% endif %}
    class="{% block bgcolor %}bg-blue-50{% endblock %}">

    <head>
        {% block head %}{% endblock %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="{% static 'css/output.css' %}">
        <link href="{% static 'fontawesomefree/css/fontawesome.css' %}" rel="stylesheet" type="text/css">
        <link href="{% static 'fontawesomefree/css/brands.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'fontawesomefree/css/solid.css' %}" rel="stylesheet" type="text/css">
        <!--<link rel="stylesheet" href="{% static 'fonts.css' %}">-->
        <title>{% block title %}Uplearn{% endblock %}</title>
    </head>
    <body>
        <header class="bg-gray-900 text-gray-100 px-10 py-3 flex justify-between items-center">
            <div class="flex items-center" >
                <a class="font-bold text-2xl" href="{% url 'index' %}">
                    UpLearn
                </a>
                <div class="hidden mx-4 lg:flex flex-row">
                    <div class="mx-3">
                        <a class="text-[15px] text-gray-200" href="#">{% trans 'Getting Started' %}</a>
                    </div>
                    <div class="mx-3">
                        <a class="text-[15px] text-gray-200" href="#">{% trans 'Roadmaps' %}</a>
                    </div>
                    <div class="mx-3">
                        <a class="text-[15px] text-gray-200" href="#">{% trans 'Donate' %}</a>
                    </div>
                    <div class="mx-3">
                        <a class="text-[15px] text-gray-200" href="#">{% trans 'About us' %}</a>
                    </div>
                    <div class="mx-3">
                        <a class="text-[15px] text-gray-200" href="#">{% trans 'FAQ' %}</a>
                    </div>
                </div>
            </div>
            <div class="flex items-center">
                <form class="hidden xl:block mx-5 border-2 border-solid border-gray-700 rounded-lg overflow-hidden">
                    <i class="mx-4 fas fa-search"></i>
                    <input class="p-2 w-80 bg-gray-900 focus:outline-none" placeholder="{% trans 'Search for articles and tutorials' %}" />
                </form>
                <i class="mx-3 fas fa-user"></i>
                <div class="block lg:hidden">
                    <i class="mx-4 text-xl fas fa-bars"></i>
                </div>
            </div>
        </header>
        {% block body %}
        {% endblock %}
        <footer class="py-2 bg-gray-900 text-center text-gray-300">
            <!-- Copyright -->
            <p>
                <span class="text-sm">{% trans "copyright" %}</span>
                <a class="" href="#"> uplearn </a>
                <span class="text-sm">2025</span>
            </p>
        </footer>
    </body>

</html>
