{% load i18n %}
{% load static %}
<!DOCTYPE html>
<html 
    {% get_current_language as LANGUAGE_CODE %}
    {% if LANGUAGE_CODE == 'fa' %}
        dir="rtl" lang="fa"
    {% else %}
        dir="ltr" lang="{{ LANGUAGE_CODE }}""
    {% endif %}
    class="">

    <head>
        {% block head %}{% endblock %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="{% static 'css/output.css' %}">
        <link href="{% static 'fontawesomefree/css/fontawesome.css' %}" rel="stylesheet" type="text/css">
        <link href="{% static 'fontawesomefree/css/brands.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'fontawesomefree/css/solid.css' %}" rel="stylesheet" type="text/css">
        <!--<link rel="stylesheet" href="{% static 'fonts.css' %}">-->
        <title>{% block title %}Uplearn{% endblock %}</title>
    </head>
    <body 
        style="{% block bgstyle %}{% endblock %}"
        class="flex flex-col min-h-screen {% block bgcolor %}bg-blue-50{% endblock %}">
        <header class="bg-gray-900/80 backdrop-blur-sm text-gray-100 px-10 py-2.5 flex justify-between items-center">
            <div class="flex items-center" >
                <a class="font-bold text-2xl" href="{% url 'index' %}">
                    <span class="text-orange-600">Up</span>
                    <span>Learn</span>
                </a>
                <form class="hidden xl:block mx-5 border-2 border-solid border-gray-500 hover:bg-black/30 rounded-lg overflow-hidden">
                    <i class="mx-4 fas fa-search"></i>
                    <input class="p-1.5 w-80 bg-transparent focus:outline-none" placeholder="{% trans 'Search for articles and tutorials' %}" />
                </form>
            </div>
            <div class="flex items-center">
                <i onclick="hello()" class="mx-3 cursor-pointer hover:text-orange-600 fas fa-sun"></i>
                <i class="mx-3 cursor-pointer hover:text-orange-600 fas fa-globe"></i>
                <a href="{% url 'login' %}"
                class="md:bg-black/20 hover:text-orange-600 md:hover:bg-black/30 md:pe-3 md:py-2 md:flex md:items-center cursor-pointer">
                    <i class="mx-3 fas fa-user"></i>
                    {% if user.is_authenticated %}
                    <p class="hidden md:block">{{user.user_name}}</p>
                    {% else %}
                    <p class="hidden md:block">{% trans "login" %}</p>
                    {% endif %}
                </a>
            </div>
        </header>
        <main class="min-h-full">
            {% block body %}
            {% endblock %}
        </main>
        <footer class="mt-auto py-2 bg-gray-900 text-center text-gray-300">
            <!-- Copyright -->
            <p>
                <span class="text-sm">{% trans "copyright" %}</span>
                <a class="" href="#"> uplearn </a>
                <span class="text-sm">2025</span>
            </p>
        </footer>
        <script>
            function hello() {
                console.log('hello')
            }
        </script>
    </body>
</html>
